img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.img_card {
    border: 3px solid #ccc;
    border-radius: 15px;
    margin: 5px 70px 5px 70px;
    padding: 10px;
}

h5 {
    margin-top: 15px;
}

h3 {
    margin: 0px 0px 25px 50px;
}

button {
    height: 1.6em;
}

.container {
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
}

    .container > p, button {
        width: auto;
        text-align: center;
        padding: 0 20px 0 20px;
    }